In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('play_tennis.csv')

In [3]:
dataset

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
outlook = LabelEncoder()
humidity = LabelEncoder()
wind = LabelEncoder()
play = LabelEncoder()

In [6]:
dataset['outlook'] = outlook.fit_transform(dataset['outlook'])
dataset['humidity'] = outlook.fit_transform(dataset['humidity'])
dataset['wind'] = outlook.fit_transform(dataset['wind'])
dataset['play'] = outlook.fit_transform(dataset['play'])

In [7]:
dataset

    day  outlook  temp  humidity  wind  play
0    D1        2   Hot         0     1     0
1    D2        2   Hot         0     0     0
2    D3        0   Hot         0     1     1
3    D4        1  Mild         0     1     1
4    D5        1  Cool         1     1     1
5    D6        1  Cool         1     0     0
6    D7        0  Cool         1     0     1
7    D8        2  Mild         0     1     0
8    D9        2  Cool         1     1     1
9   D10        1  Mild         1     1     1
10  D11        2  Mild         1     0     1
11  D12        0  Mild         0     0     1
12  D13        0   Hot         1     1     1
13  D14        1  Mild         0     0     0

In [8]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(dataset[['outlook','humidity','wind']],dataset['play'],test_size=0.3)

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
my_model = DecisionTreeClassifier(criterion='entropy')

In [24]:
my_model.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [25]:
X_test

    outlook  humidity  wind
9         1         1     1
2         0         0     1
10        2         1     0
7         2         0     1
6         0         1     0

In [26]:
my_model.predict(X_test)

array([1, 1, 0, 0, 1])

In [27]:
my_model.score(X_test,y_test)

0.8

In [28]:
my_model.score(X_train,y_train)

1.0

In [29]:
X_train

    outlook  humidity  wind
13        1         0     0
1         2         0     0
8         2         1     1
4         1         1     1
3         1         0     1
12        0         1     1
11        0         0     0
5         1         1     0
0         2         0     1