In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("Iris.csv")

In [5]:
dataset['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
dataset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
dataset['Species'].replace({'Iris-setosa':'1', 'Iris-versicolor':'2', 'Iris-virginica':'3'},inplace=True)

In [8]:
dataset

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0      1            5.1           3.5            1.4           0.2       1
1      2            4.9           3.0            1.4           0.2       1
2      3            4.7           3.2            1.3           0.2       1
3      4            4.6           3.1            1.5           0.2       1
4      5            5.0           3.6            1.4           0.2       1
..   ...            ...           ...            ...           ...     ...
145  146            6.7           3.0            5.2           2.3       3
146  147            6.3           2.5            5.0           1.9       3
147  148            6.5           3.0            5.2           2.0       3
148  149            6.2           3.4            5.4           2.3       3
149  150            5.9           3.0            5.1           1.8       3

[150 rows x 6 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(dataset[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']],dataset['Species'],test_size=0.3)

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
my_model = LogisticRegression()

In [14]:
my_model.fit(X_train,y_train)

LogisticRegression()

In [15]:
my_model.predict(X_test)

array(['1', '3', '3', '2', '3', '2', '2', '3', '1', '2', '1', '1', '1',
       '2', '3', '1', '2', '2', '2', '1', '1', '1', '2', '3', '2', '1',
       '2', '1', '3', '1', '1', '3', '2', '3', '2', '3', '2', '1', '1',
       '3', '2', '3', '2', '3', '3'], dtype=object)

In [17]:
my_model.score(X_test,y_test)

0.9555555555555556

In [18]:
my_model.score(X_train,y_train)

0.9809523809523809